		body {
			background-image: url(https://img.freepik.com/free-vector/seamless-pattern_1159-5086.jpg?w=2000);
			background-size: 200px;

		}
		.divClass {
			display: flex;
			flex-flow: column;
			align-items: center;
			padding: 10px;
			}

		h1 {
			color: darkred;
		}
		img {
			width: 400px;
		}
		a {
				color: #efb710;
			}
		#thirdDiv {
			display: flex;
			justify-content: center;
		}
		#thirdDiv div{
			height: 600px;
			width: 500px;
			background: #efefef;
			padding: 50px;
			border: 5px solid #bfbfbf;
		}
		#spanId {
			font-size: 18px;
			margin: 50px;
		}
		